# Node.js dependencies
/node_modules/

# Logs
npm-debug.log*
*.log

# Environment variable files
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/

# Temporary files
*.swp
